<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maze Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        Maze Solver
    </div>
    <div class="content">
        <div class="upload">
            <form action="{{ url_for('home') }}" method="post" enctype="multipart/form-data">
                <div class="control-buttons">
                    <input type="file" name="file" id="file" required>
                    <input type="submit" value="Upload Maze">
                </div>
            </form>
        </div>

        {% if uploaded_file_url %}
        <div class="uploaded-image">
            <h3>Uploaded Maze Image:</h3>
            <img src="{{ uploaded_file_url }}" alt="Uploaded Maze" style="width: 800px;">
        </div>
        {% endif %}

        {% if uploaded_file_url %}
        <div class="control-buttons" id="solve-button-container">
            <button onclick="solveMaze()">Solve Maze</button>
        </div>
        {% endif %}

        <div id="solution-output"></div>

        <div class="control-buttons" id="delete-button-container" style="display: none;">
            <button onclick="deleteMaze()">Delete Maze</button>
        </div>
    </div>

    <script>
        function solveMaze() {
            const uploadedFileUrl = '{{ uploaded_file_url }}';
            const formData = new FormData();
            formData.append('file_url', uploadedFileUrl);
    
            document.getElementById('delete-button-container').style.display = 'none';
    
            fetch("/solve_maze", {
                method: "POST",
                body: formData,
            })
            .then(response => response.json())
            .then(result => {
                const output = document.getElementById("solution-output");
                if (result.success) {
                    output.innerHTML = `<h3>Maze Solution:</h3><img src="${result.solved_file_url}" alt="Solved Maze" style="width: 800px;">`;
    
                    document.getElementById('delete-button-container').style.display = 'block';
                } else {
                    output.innerHTML = `<h3>Error:</h3><p>${result.error}</p>`;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    
        function deleteMaze() {
            fetch("/delete_maze", {
                method: "POST",
            })
            .then(response => response.json())
            .then(result => {
                if (result.success) {
                    document.getElementById("solution-output").innerHTML = `<p>The maze and its solution have been deleted.</p>`;
                    document.querySelector('.uploaded-image').style.display = 'none';
                    document.querySelector('#delete-button-container').style.display = 'none';
                    document.getElementById('solve-button-container').style.display = 'none';
                } else {
                    alert("Error deleting the maze.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    
</body>
</html>
